@model Car

<h2>Edit Car Details</h2>
<form method="post" asp-controller="ParkingSystem" asp-action="EditCar">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Mark">Car Brand</label>
        <input asp-for="Mark" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Plate">Plate Number</label>
        <input asp-for="Plate" class="form-control" />
        <span asp-validation-for="Plate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-green">Save Changes</button>
</form>
<style>
    .btn-green {
        background-color: #1E401D;
        color: white;
    }
</style>